# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work


# Ignore Terraform state files
*.tfstate
*.tfstate.*
*.tfplan

# Ignore local .terraform directories
**/.terraform/*

# Ignore crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and don't need to be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore .terraform.lock.hcl files
.terraform.lock.hcl

# Ignore any .terraform directories in the working directory
**/.terraform/

# Ignore provider binary files
*.tfplugin*
